body {
  height: 100vh;
}

/* .App {
  background-color: aqua;
} */

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  margin-left: 2px;
}

.colour-container {
  height: 100%;
}

.colour-type-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.random-colour-container {
  display: flex;
  justify-content: center;
}
